src/main/resources/reqnetsoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.proactive.suman.com"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.proactive.suman.com"
	xmlns:intf="http://services.proactive.suman.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema elementFormDefault="qualified"
			targetNamespace="http://services.proactive.suman.com" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="processEventData">
				<complexType>
					<sequence>
						<element name="source" type="xsd:string" />
						<element name="eventXml" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="processEventDataResponse">
				<complexType>
					<sequence>
						<element name="processEventDataReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>
	<wsdl:message name="processEventDataRequest">
		<wsdl:part element="impl:processEventData" name="parameters" />
	</wsdl:message>
	<wsdl:message name="processEventDataResponse">
		<wsdl:part element="impl:processEventDataResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="WsEventOperations">
		<wsdl:operation name="processEventData">
			<wsdl:input message="impl:processEventDataRequest" name="processEventDataRequest" />
			<wsdl:output message="impl:processEventDataResponse"
				name="processEventDataResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WsEventOperationsSoapBinding" type="impl:WsEventOperations">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="processEventData">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="processEventDataRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="processEventDataResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WsEventOperationsService">
		<wsdl:port binding="impl:WsEventOperationsSoapBinding" name="WsEventOperations">
			<wsdlsoap:address
				location="https://cnpociuat.ebiz.suman.com:8443/VecEvent/services/WsEventOperations" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>